{% style %}
  .logo-area2 {
    display: flex;
    justify-items: center;
  }

  .logo-in-the-middle {
    margin-left: auto;
    margin-right: auto;
  }
    .logo img {
      width: {{ section.settings.logo_img_width_int }}px;
      margin: 2rem auto;
    }
    .logo-area__middle--logo-image {
      max-width: {{ section.settings.logo_img_width_int }}px;
    }
    @media (max-width: 767px) {
      .logo img {
        width: {{ section.settings.mobile_logo_img_width_int }}px;
      }
    }
{% endstyle %}

<div>
  <div id="pageheader" class="pageheader">
    {%- capture logo_html -%}
    <div class="logo-area2">
      <div class="logo">
        <a href="{{ routes.root_url }}" title="{{ shop.name }}">
          {%- if section.settings.logo != blank -%}
            {%- capture img_size -%}{{ section.settings.logo_img_width_int | times: 2 }}x{%- endcapture -%}
            <img src="{{ section.settings.logo | img_url: img_size }}" alt="{{ section.settings.logo.alt | escape }}" itemprop="logo" width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}" />
          {%- else -%}
            <span class="logotext">{{ shop.name }}</span>
          {%- endif -%}
        </a>
      </div>
    </div>
    {%- endcapture -%}
    <div class="logo-area2 container container--no-max">
      <div class="logo-in-the-middle logo-area__middle--logo-{% if section.settings.logo != blank %}image{% else %}text{% endif %}">
        <div class="logo-area__middle__inner">
          {{- logo_html -}}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "520 x 200px (recommended)"
    },
    {
      "type": "range",
      "id": "logo_img_width_int",
      "min": 30,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "Logo width",
      "default": 280
    },
    {
      "type": "range",
      "id": "mobile_logo_img_width_int",
      "min": 30,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Mobile logo width",
      "default": 200
    }
  ]
}
{% endschema %}
